{% extends "registration/registration_base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% if LANGUAGE_CODE == 'he' %}רוקסי פרוקסי{% else %}Login{% endif %}{% endblock %}
{% block content %}

<div class="container inner_content">
	<div class="row-fluid">
		{% if LANGUAGE_CODE == 'he' %}
			<div class="span6">
				<p>התחבר לחשבון שלך ברוקסי</p>
			</div>
			<div class="span6">
				<form method='post' action='{% url django.contrib.auth.views.login %}' class="well">
					{% if form.errors %}
						<div class="control-group error">
    						<span class="help-inline">שם משתמש או סיסמה לא תקפים.  האם הפעלת את החשבון שלך על ידי לחיצה על הקישור במייל שקבלת בזמן הרישום?</span>
	            		</div>
					{% endif %}
					{% csrf_token %}
					<label>{{ form.username.label_tag }}</label>
					{{ form.username }}

					<label>{{ form.password.label_tag }}</label>
					{{ form.password }}

					<div>
						<button type="submit" class="btn">התחבר לרוקסי</button>
					</div>
					<input type="hidden" name="next" value="{{ next }}" />
				</form>
				<p><span style="font-weight: bold; font-size: large;"><a href="{% url auth_password_reset %}">שכחתי</a> הסיסמה שלך?</span> <a href="{% url registration_register %}">צריך חשבון</a>?</p>
			</div>
		{% else %}
			<div class="span6">
				<p>Login to your Roxy account.</p>
			</div>
			<div class="span6">
				<form method='post' action='{% url django.contrib.auth.views.login %}' class="well">
					{% if form.errors %}
						<div class="control-group error">
    						<span class="help-inline">Invalid username or password. Please try again. Have you activated the account by clicking the link in the email you received when you registered?</span>
	            		</div>
					{% endif %}
					{% csrf_token %}
					<label>{{ form.username.label_tag }}</label>
					{{ form.username }}

					<label>{{ form.password.label_tag }}</label>
					{{ form.password }}

					<div>
						<button type="submit" class="btn">Login to Roxy</button>
					</div>
					<input type="hidden" name="next" value="{{ next }}" />
				</form>
				<p><span style="font-weight: bold; font-size: large;"><a href="{% url auth_password_reset %}">Forgot</a> your password?</span> <a href="{% url registration_register %}">Need an account</a>?</p>
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}
