{% extends "registration/registration_base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% if LANGUAGE_CODE == 'he' %}רוקסי פרוקסי{% else %}Logged out{% endif %} | Roxy Proxy{% endblock %}
{% block content %}

<div class="container inner_content">
	<div class="row-fluid">
		<div class="span12">
			{% if LANGUAGE_CODE == 'he' %}
				<p>תהליך הניתוק הסתיים בהצלחה</p>

				<button class="btn"><a href="{% url home %}">Home</a></button>
			{% else %}
				<p>You have successfully logged out.</p>

				<button class="btn"><a href="{% url home %}">Home</a></button>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
