{% extends "registration/registration_base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% if LANGUAGE_CODE == 'he' %}שינוי סיסמא|ֿרוקסי פרוקסי{% else %}Password changed | Roxy Proxy{% endif %}{% endblock %}
{% block content %}
<div class="container inner_content">
	<div class="row-fluid">
		<div class="span12">
			{% if LANGUAGE_CODE == 'he' %}
				<p>סיסמתך שונתה בהצלחה</p>
			
				<button class="btn"><a href="{% url user_home %}">Home</a></button>
			{% else %}
				<p>Password successfully changed!</p>

				<button class="btn"><a href="{% url user_home %}">Home</a></button>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}