{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% if LANGUAGE_CODE == 'he' %}אישור אתחול סיסמא{% else %}Confirm password reset | Roxy Proxy{% endif %}{% endblock %}

{% block content %}

<div class="container inner_content">
	<div class="row-fluid">
		{% if LANGUAGE_CODE == 'he' %}
			<div class="span6">
			הכנס סיסמא חדשה על מנת לאתחל סיסמא
			</div>
			<div class="span6">
				<form method='post' action='' class="well">
					{% csrf_token %}
					<label>{{ form.new_password1.label_tag }}</label>
					{{ form.new_password1 }}

					<label>{{ form.new_password2.label_tag }}</label>
					{{ form.new_password2 }}

					<div>
						<button type="submit" class="btn">הגדר סיסמא</button>
					</div>
				</form>
			</div>
		{% else %}
			<div class="span6">
				Enter your new password to reset your password.
			</div>
			<div class="span6">
				<form method='post' action='' class="well">
					{% csrf_token %}
					<label>{{ form.new_password1.label_tag }}</label>
					{{ form.new_password1 }}

					<label>{{ form.new_password2.label_tag }}</label>
					{{ form.new_password2 }}

					<div>
						<button type="submit" class="btn">Set password</button>
					</div>
				</form>
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}
