{% extends "roxy_base.html" %}
{% load i18n %}
{% block title %}{% blocktrans %}Blacklist Domain | Roxy Proxy{% endblocktrans %}{% endblock %}
{% block content %}
    <!--MAIN CONTENT AREA-->
    <div class="container inner_content">
    	<div class="container-fluid">
			<div class="row-fluid">
				<div class="span9">
					<h1>{% blocktrans %}Roxy Blacklist{% endblocktrans %}</h1>
					<p>{% blocktrans %}Adding a website to your blacklist will prevent future logging of this site (starting about 60 seconds after you add it), and will prompt Roxy to delete any previous content from this site from your records within 24 hours.{% endblocktrans %}</p>
					<p>{% blocktrans %}Enter a domain into the form below. A domain is simply the part of the website before .com, .org, .net etc. The domain of the url http://www.chase.com/home.php is simply <code>chase.com</code>. This will blacklist all content from <code>chase.com</code> after about <strong>60 seconds</strong>.{% endblocktrans %}</p>
					<form action="{% url blacklist %}" method="post">
		              	{% csrf_token %}
	              		{{ form.domain }}
	              		{% if form.errors.domain %}
							<div class="alert alert-error">
								<a class="close" data-dismiss="alert">×</a>
								{{ form.domain.errors.0 }}
							</div>
			    		{% endif %}
			    		{% if domain %}
							<div class="alert alert-success">
								<a class="close" data-dismiss="alert">×</a>
								{% blocktrans %}{{ domain }} added to your personal blacklist.{% endblocktrans %}
							</div>
						{% endif %}			    			
			    		
			    		<div>
			                <button type="submit" class="btn btn-success">{% blocktrans %}Submit{% endblocktrans %}</button>
			            </div>
		            </form>
					<h3>{% blocktrans %}Your Blacklisted Domains{% endblocktrans %}</h3>
					{% for domain in bl_domains %}
						<p>{{ domain.display_string }} [<a href="{% url delete_blacklist domain.display_string %}">×</a>]</p>
					{% empty %}
						<p><em>{% blocktrans %}No domains blacklisted yet...{% endblocktrans %}</em></p>
					{% endfor %}
				</div>
				<div class="span3">
					{% include "sidebar.html" %}
				</div>
			</div>
	    </div>
	</div>
{% endblock %}