{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}Message sent | Roxy Proxy{% endblock %}
{% block content %}
	{% if LANGUAGE_CODE == 'he' %}
		<div class="container inner_content">
			<div class="row-fluid">
				<div class="span12">
					תודה! הודעתך נשלחה					
				</div>
			</div>
		</div>
	{% else %}
		<div class="container inner_content">
			<div class="row-fluid">
				<div class="span12">
					Thank you! Your message has been sent.
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
