{% extends "roxy_base.html" %}
{% load i18n %}
{% block title %}{% blocktrans %}Frequently Asked Questions | Roxy Proxy{% endblocktrans %}{% endblock %}
{% block content %}
    <!--MAIN CONTENT AREA-->
    <div class="container inner_content">
    	<div class="container-fluid">
			<div class="row-fluid">
				<div class="span9">
					{% blocktrans %}
					<h1>Frequently Asked Questions</h1>

					<h3>What does Roxy log?</h3>
					<p>You have complete control over what Roxy logs. If you choose a "private" session nothing is logged. You can also specify websites you do not want Roxy to log. If you choose a "regular" session, Roxy only logs insecure web pages (those that start with http rather than https). All bank sites and online shopping carts are secure and use https when you login. Many other sites also use https, such as Facebook most Google websites, and most web-based email.</p>
					
					<h3>How do I know what Roxy has logged?</h3>
					<p>You can see the pages Roxy has logged. Just login to Roxy and go to the  <a href="{% endblocktrans %}{% url user_home %}{% blocktrans %}">My Home</a> page.</p>
					
					<h3>How do I blacklist or delete websites that Roxy has logged?</h3>
					<p>Just go to the Blacklist link in Roxy, enter the domain that you'd like to blacklist and Roxy will not gather further information from this site and will delete any previous content from the site it has stored.</p>
					
					<h3>Is my data secure?</h3>
					<p>Yes, Roxy uses all of the standard security measures for web applications. The beta testing data will be deleted when testing is completed.</p>
					
					<h3>I use a Mac or Linux computer. Can I use Roxy?</h3>
					<p>Yes, Roxy is web-based so if you connect to the web in most cases you can use Roxy.</p>

					<h3>Does Roxy log anything on my computer except for web pages?</h3>
					<p>No, Roxy only logs web pages. Roxy doesn't have any access to your computer; it is a program you logon to online.</p>

					<h3>How does Roxy work?</h3>
					<p>Roxy is a proxy server that you login to on the web. It runs on a server like other web-based applications like Facebook. When the research project is over and you take out Roxy's PAC file setting your computer remains unchanged by Roxy.</p>
					
					<h3>Why was Roxy developed?</h3>
					<p>Roxy was created because Internet researchers did not have a flexible and ethical way to gather web browsing data from research participants on a variety of computer platforms. Research ethics demand informed consent so Roxy was designed with transparency, privacy and user control as its primary goals.</p>{% endblocktrans %}
				</div>
				<div class="span3">
					{% include "sidebar.html" %}
				</div>
			</div>
	    </div>
	</div>
{% endblock %}