{% extends "roxy_base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}Last Logins | Roxy Proxy{% endblock %}
{% block content %}
   	<div class="container inner_content">
   		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span9">
					<h2>Last Logins ({{ last_sessions|length }} Users)</h2>
					
					<table style="width: 90%;">
						<tr><th>Username</th><th>Last Session Start</th><th>Session Type</th></tr>
						{% for session in last_sessions %}
							<tr><td>{{ session.user_profile.user.username }} ({{ session.user_profile.user.email }})</th><th>{{ session.session_start }}</th><th>{{ session.session_type }}</th></tr>
						{% endfor %}
					</table>
				</div>
				<div class="span3">
					{% include "sidebar.html" %}
				</div>
			</div>
    	</div>
	</div>
{% endblock %}