{% extends "roxy_base.html" %}
{% block title %}Setup Roxy | Roxy Proxy{% endblock %}
{% block content %}
    <!--MAIN CONTENT AREA-->
    <div class="container inner_content">
    	<div class="container-fluid">
			<div class="row-fluid">
				<div class="span9">
					<h1></a>Roxy Proxy Setup</h1>
					<h3></a>Macintosh Safari, Chrome and Firefox</h3>
					<ol>
						<li>Open your System Preferences by going to the Apple Menu (The <img src="/static/img/Apple.gif" alt="Apple Icon"> on the top left-hand corner of your screen.) and choosing System Preferences.</li>
						<li>In the System Preferences go to Network. There you will see all of your connection types. On the example below this includes AirPort, Ethernet, FireWire, and NUVPN. In this case AirPort is highlighted because that is the current connection type.</li>
						<li>Choose the Advanced button &gt; Proxies tab. Check "Automatic proxy configuration." Type in VARIABLE http://roxy-master.audacious-software.com/proxy/chicago.pac.</li>
						<li>Choose OK. This brings you back to your Network settings that may include several connection types (see step 2 above). Choose the next connection type, in this example it is called Ethernet. Repeat step 3 for each connection type (in the example image from step 2: AirPort, Ethernet, FireWire).</li>
						<li>When you have finished entering the proxy setting for each connection type, click Apply to save the changes.</li>
						<li>Go to any website such as google.com. If Roxy has been configured correctly the Roxy home page will appear http://proxy.roxyproxy.org/. See Using Roxy for more information now that you have completed setup on this browser. Remember to configure any other web browsers you use.</li>
					</ol>
					<h3>Roxy must be setup for each web browser you use.</h3>
					<p>Go to the list of <a href={% url setup %}>setup instructions</a> for other browsers</p>
				</div>
				<div class="span3">
					{% include "sidebar.html" %}
				</div>
			</div>
	    </div>
	</div>
{% endblock %}