{% extends "roxy_base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% if LANGUAGE_CODE == 'he' %}Create New Session | Roxy Proxy{% else %}Create New Session | Roxy Proxy{% endif %}{% endblock %}
{% block content %}
{% block page_header %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
 	<script>
 		$(document).ready(function()
 		{
 			$("#active_button").click(function(event)
 			{
				$("#id_session_type").val("active");
				$("#session_form").submit();
 			});

 			$("#guest_button").click(function(event)
 			{
				$("#id_session_type").val("guest");
				$("#session_form").submit();
 			});

 			$("#private_button").click(function(event)
 			{
				$("#id_session_type").val("private");
				$("#session_form").submit();
 			});
 		});
 	</script>
{% endblock %}
<div class="container inner_content">
	{% if LANGUAGE_CODE == 'he' %}
		<div class="row-fluid">
			<div class="span8">
				<h2>מצב גלישה</h2>
				<p><strong>מצב גלישה רגיל</strong>רוקסי תתעד את האתרים בהם אתה גולש, למעט אתרים שחסמת או אתרים מאובטחים  (אתרים שהכתובת שלהם מתחילה ב https ויש להם סימן מנעול, כמו בנקים, פייסבוק וגוגל)
				<p><strong>מצב גלישה פרטי</strong>רוקסי לא תתעד שום מידע לגבי דפוסי הגלישה שלך כאשר אתה משתמש במצב פרטי. אנא, השתמש באפשרות הזו מעט ככל האפשר על מנת לעזור למטרות המחקר. אתה יכול להשתמש באפשרות לחסום אתרים מסוימים על ידי שימוש ב<a href="#">כלי חסימה</a>.
				<p><strong>גולש אורח</strong>אם אתה לא משתתף במחקר אנא השתמש באפשרות זו על מנת שדפוסי הגלישה שלך לא יתועדו </p>
				<p>אתה תופנה לקישור זה כאשר תרצה לבחור מצב גלישה<br> {{ url }}</p>
				{{ form.errors }}
				<h3>העמוד הזה מנסה להעביר אותך לעמוד אותו ביקשת. זה לא תמיד אפשרי ובחלק מהמקרים תצטרך להקיש אחור על מנת לחזור לעמוד שרצית אחרי שבחרת את סוג הגלישה. אנחנו מתנצלים על חוסר הנוחות האפשרית. </h3>	
				<h3>אתה רוצה שהחלון הזה יקפוץ פחות או יותר פשוט <a href="{% url edit_profile %}">ערוך את הפרופיל שלך</a>ושנה את אורך מצב הגלישה.</h3>
			</div>
			<div class="span4" >
				<form method="POST" action="{% url temp_session ip_address %}" class="well" id="session_form">
					{% csrf_token %}
					<input type="hidden" name="duration" value="60" />
					<input type="hidden" name="session_type" id="id_session_type" value="active" />
			
					<p>אנא בחר מצב גלישה<p>
					<p>
						<button class="btn btn-large btn-primary" id="active_button" style="width: 220px;">מצב גלישה רגיל</button>
					</p>
					<p>
						<button class="btn btn-large btn-danger" id="private_button" style="width: 220px;">מצב גלישה פרטי</button>
					</p>
					<p>
						<button class="btn btn-large btn-info" id="guest_button" style="width: 220px;">גולש אורח</button>
					</p>
				</form>
			</div>
		</div>
	{% elif LANGUAGE_CODE == 'nl' %}
		<div class="row-fluid">
			<div class="span8">
				<h2>SESSIE TYPES</h2>
				<p><strong>Reguliere sessie:</strong> Roxy registreert de websites die je bekijkt, behalve de websites die je hebt geblokkeerd via de optie ‘<a href="{% url blacklist %}">{% blocktrans %}Blacklist{% endblocktrans %}</a> tool’. Ook andere websites zijn afgesloten voor Roxy - websites voor telebankieren, Hotmail en Gmail zijn niet toegankelijk en ook websites beginnend met ‘https’ zijn niet registreerbaar voor Roxy. 
					<p><strong>Privé sessie:</strong> Roxy registreert geen informatie tijdens deze sessie. Voor het doel van dit onderzoek, gelieve deze optie zo min mogelijk te gebruiken. Wanneer u geen registratie wilt van bepaalde websites, kies dan liever voor de optie ‘<a href="{% url blacklist %}">{% blocktrans %}Blacklist{% endblocktrans %}</a> tool’ om websites uit de Roxy registratie te blokkeren.
					<p><strong>Gast sessie:</strong> Wanneer u geen deelnemer bent in het onderzoek, kies deze optie zodat er geen Web browse activiteit wordt vastgelegd.</p>
				<p>U wordt doorverwezen naar deze URL wanneer u een sessie type kiest:<br> {{ url }}</p>
				{{ form.errors }}
<h3>				Deze pagina probeert u door te verwijzen naar de website die u wilde bezoeken voordat u werd onderbroken in deze activiteit.
				Dit is helaas niet altijd mogelijk, soms moet u de terugknop gebruiken, een bladwijzer naar de website gebruiken of de website opnieuw intypen nadat u voor een sessie type heeft gekozen.Exuses voor eventueel ongemak.</h3>				
<h3>Wilt u dit scherm vaker of minder vaak zien als pop-up? Ga dan naar <a href="{% url edit_profile %}">Edit Your Profile</a> en verander de sessieduur (session duration).</h3>
			</div>
				<div class="span4" >
					<form method="POST" action="{% url temp_session ip_address %}" class="well" id="session_form">
						{% csrf_token %}
						<input type="hidden" name="duration" value="60" />
						<input type="hidden" name="session_type" id="id_session_type" value="active" />

						<p>HUIDIGE SESSIE TYPE<p>
						<p>
							<button class="btn btn-large btn-primary" id="active_button" style="width: 220px;">Reguliere sessie</button>
						</p>
						<p>
							<button class="btn btn-large btn-danger" id="private_button" style="width: 220px;">Privé sessie</button>
						</p>
						<p>
							<button class="btn btn-large btn-info" id="guest_button" style="width: 220px;">Gast sessie</button>
						</p>
					</form>
				</div>
			</div>
			{% else %}
		<div class="row-fluid">
			<div class="span8">
				<h2>Session Types</h2>
				<p><strong>Regular Session:</strong> Roxy will record the sites you view, except for any sites you’ve blacklisted or sites that are secure (start with https and have a ‘lock’ symbol like banking sites, Facebook, and Google). 
				<p><strong>Private Session:</strong> Roxy will not record any information about the Web sites you visit in a private sessions. Please use this option sparingly to help the research project. You can blacklist specific sites as needed using the <a href="#">Blacklist tool</a>.
				<p><strong>Guest Session:</strong> If you are not a participant in this research project please use this option so that none of your Web browsing is logged.</p>
				<p>You will be directed to this URL when you choose a session type:<br> {{ url }}</p>
				{{ form.errors }}
<h3>This page tries to forward you to the site you were heading to when it interrupted you. This is not always possible, and you may sometimes have to use the back button or a bookmark to return to browsing after choosing a session type. We apologize for any inconvenience.</h3>				
<h3>Do you want this screen to pop up more or less often? Just <a href="{% url edit_profile %}">Edit Your Profile</a> and change the session duration.</h3>
			</div>
			<div class="span4" >
				<form method="POST" action="{% url temp_session ip_address %}" class="well" id="session_form">
					{% csrf_token %}
					<input type="hidden" name="duration" value="60" />
					<input type="hidden" name="session_type" id="id_session_type" value="active" />
			
					<p>Please choose a session type.<p>
					<p>
						<button class="btn btn-large btn-primary" id="active_button" style="width: 220px;">Regular Session</button>
					</p>
					<p>
						<button class="btn btn-large btn-danger" id="private_button" style="width: 220px;">Private Session</button>
					</p>
					<p>
						<button class="btn btn-large btn-info" id="guest_button" style="width: 220px;">Guest Session</button>
					</p>
				</form>
			</div>
		</div>
	{% endif %}
</div>
{% endblock %}
