{% extends "roxy_base.html" %}
{% load i18n %}
{% block title %}Setup Roxy | Roxy Proxy{% endblock %}
{% block content %}
    <!--MAIN CONTENT AREA-->
    <div class="container inner_content">
    	<div class="container-fluid">
			<div class="row-fluid">
				<div class="span9">
					<h1><a name="home"></a>{% blocktrans %}Roxy Proxy Setup{% endblocktrans %}</h1>
					<p>{% blocktrans %}Roxy must be setup for each web browser you use. Choose your operating system and web browser:{% endblocktrans %}</p>
					<h4>{% blocktrans %}Apple Products{% endblocktrans %}</h4>
					<ul>
						<li><a href="{% url page "mac" %}">{% blocktrans %}Macintosh Setup: Safari, Chrome or Firefox{% endblocktrans %}</a></li>
						<li><a href="{% url page "iPhone" %}">{% blocktrans %}iPhone{% endblocktrans %}</a></li>
						<li><a href="{% url page "iPad" %}">{% blocktrans %}iPad{% endblocktrans %}</a></li>
						<!-- <li><a href="{% url page "aol" %}">{% blocktrans %}AOL Mac{% endblocktrans %}</a></li> -->
					</ul>
					<h4>{% blocktrans %}Microsoft Windows{% endblocktrans %}</h4>
					<ul>
						<li><a href="{% url page "ie" %}">{% blocktrans %}Internet Explorer{% endblocktrans %}</a></li>
						<li><a href="{% url page "winff" %}">{% blocktrans %}Firefox{% endblocktrans %}</a></li>
						<li><a href="{% url page "winChrome" %}"{% blocktrans %}>Google Chrome{% endblocktrans %}</a></li>
						<!-- <li><a href="{% url page "aol" %}">{% blocktrans %}AOL Windows{% endblocktrans %}</a></li> -->
					</ul>
					<h4>{% blocktrans %}Other Products{% endblocktrans %}</h4>
					<ul>
						<li>{% blocktrans %}Linux Firefox{% endblocktrans %}</li>
						<li><a href="{% url page "other" %}">{% blocktrans %}Other computers or devices that connect to the web{% endblocktrans %}</a></li>
					</ul>
				</div>
				<div class="span3">
					{% include "sidebar.html" %}
				</div>
			</div>
	    </div>
	</div>
{% endblock %}