{% extends "roxy_base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}Using Roxy | Roxy Proxy{% endblock %}
{% block content %}
	{% if LANGUAGE_CODE == 'he' %}
	    <!--MAIN CONTENT AREA-->
    	<div class="container inner_content">
	    	<div class="container-fluid">
				<div class="row-fluid">
					<div class="span9">
						<h1>משתמשים ברוקסי</h1>

						<h3>סקירה</h3>
						<p>לאחר שהתחברת לרוקסי והגדרת לדפדפן שלך להשתמש בפרוקסי  (<a href="{% url setup %}">הוראות התקנה</a>, <a href="{% url proxy_test %}">בדוק האם התקנה הושלמה</a>) תתבקש לבחור סוג חיבור קבוע במהלך פרויקט המחקר</p>
						<p>דף סוג הגלישה ברוקסי יטען באופן אוטומטי, ויאפשר לך לבחור בגלישה במצב "רגיל", "פרטי" או "אורח". אם תבחר במצב "רגיל" ​​הגלישה שלך באינטרנט תתועד כחלק מפרויקט המחקר. אם תבחר במצב "פרטי" הגלישה שלך באינטרנט לא תתועד. בחירה במצב רגיל ולא במצב פרטי מסייעת לפרויקט המחקר.אפשרות מצב "האורח" מיועדת לאנשים שעשויים להשתמש בדפדפן אינטרנט הזה אך אינם חלק מפרויקט המחקר (כגון בן משפחה או שותף לדירה). ברגע שאתה בוחר בסוג הגלישה, רוקסי תעביר אותך באופן אוטומטי לאתר אליו אתה רוצה  להגיע. בחירת מצב גלישה ברוקסי כרוכה בקליק אחד בלבד שבו אתה בוחר בין  מצב רגיל למצב פרטי. </p>
						<p>גם כאשר רוקסי מוגדרת במצב גלישה "רגיל"  לא יתועד תוכן מאתרים שלעתים קרובות מכילים מידע אישי כמו דוא"ל מבוסס אינטרנט, פייסבוק, או אתרי בנקים. כל אתר מאובטח (מתחיל עם https במקום http) כגון כמעט כל אתרי בנקים ואתרי הקניות המקוונות  לא יתועד.</p>
						<p>אתה יכול לשנות את סוג הגלישה שלך על ידי כניסה ל <a href="{% url user_home %}">האזור שלי</a> ובחירה ב"שינוי מצב גלישה" מהתפריט בצד ימין. אנו ממליצים לך להוסיף את דף האזור שלי ברוקסי למועדפים, על מנת לאפשר גישה קלה להגדרות של רוקסי.</p>
						<p>המטרה היא שרוקסי תפריע לך כמה שפחות, אבל עדיין תאפשר לך  שליטה מתי להיות מחובר בזמן השתתפותך במחקר.</p>

						<h3>אתרים חסומים</h3>
						<p>אם אתה רוצה לוודא שאתרים מסוימים בהם אתה גולש לא יתועדו הוסף אותם <a href="#">לרשימת אתרים חסומים</a>.</p>
						<p>אם חסמת אתר כל תיעוד קודם של דפוסי הגלישה שלך באתר ימחק מהמחקר וכל כניסות עתידיות לאתר לא יתועדו במהלך שימוש בכל סוג גלישה</p>
					</div>
					<div class="span3">
						{% include "sidebar.html" %}
					</div>
				</div>
		    </div>
		</div>
	{% else %}
	    <!--MAIN CONTENT AREA-->
    	<div class="container inner_content">
	    	<div class="container-fluid">
				<div class="row-fluid">
					<div class="span9">
						<h1>Using Roxy</h1>
						<h3>Overview</h3>
						<p>Once you have logged into Roxy and configured your web browser to use the proxy (<a href="{% url setup %}">Setup instructions</a>, <a href="{% url proxy_test %}">Check to see if setup is complete</a>) you will be prompted to choose a session type periodically throughout the research project.</p>
						<p>The Roxy session type page will load automatically, which allows you to choose a "regular," "private" or "guest" session. If you choose "regular" your web browsing will be observed as part of the research project. If you choose "private" your web browsing will not be recorded. Choosing regular rather than private sessions helps the research project. The "guest" option is for people who may use this web browser who are not part of the research project (such as a family member or roommate). Once you choose a session type, Roxy automatically takes you to the site you were trying to go to. Choosing a Roxy session involves just one click where you choose between a regular and a private session.</p>
						<p>Even when Roxy is in a "regular" session it will not gather content from sites that often contain personal information like web-based email, Facebook, or banking sites. Any site that is secure (starts with https rather than http) such as virtually all bank sites and web shopping checkout systems will also not be logged.</p>
						<p>You can change your session type by going to the <a href="{% url user_home %}">user home page</a> and choosing "Change Session Type" from the menu on the right. We suggest you bookmark Roxy's user home page for easy access to Roxy's features.</p>
						<p>The goal is for Roxy to interrupt you as little as possible, but still give you a choice about logging throughout the study.</p>

						<h3>Blacklisting Sites</h3>
						<p>If you want to make sure certain websites you visit are not logged, add them to <a href="#">the blacklist</a>.</p>
						<p>If you blacklist a domain, any previously gathered content from that domain will be deleted from the study and no new content will be logged during any session type.</p>
					</div>
					<div class="span3">
						{% include "sidebar.html" %}
					</div>
				</div>
		    </div>
		</div>
	{% endif %}
{% endblock %}