{% extends "roxy_base.rtl.html" %}
{% load website_tags %}

{% block title %}Blacklist Domain | Roxy Proxy{% endblock %}

{% block header_menu %}
	{% use_header "templatetags/header_menu.he.html" %}
{% endblock %}
{% block content %}
    <!--MAIN CONTENT AREA-->
    <div class="container inner_content">
    	<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3">
					{% include "sidebar.html" %}
				</div>	
				<div class="span9">
					<h1>הרשימה החסומה שלך ברוקסי</h1>
					<p>הוספה של אתר לרשימה החסומה שלך ברוקסי ימנע מרוקסי לתעד כל מידע עתידי מאתר זה  (החל מ 60 שניות לאחר הכנסת האתר לרשימה החסומה)  ובנוסף ימחק כל תיעוד קודם של  מידע מאתר זה, תוך 24 שעות</p>
					<p>הכנס את הדומיין אל הטופס מתחת. דומיין הוא פשוט החלק בשם האתר שבא לפני הסיומת שלו .com ,org .net .co.il וכו'. הדומיין של הקישור  http://www.chase.com/home.php הוא פשוט <code>chase.com</code>. זה יחסום כל תוכן מ <code>chase.com</code> אחרי בערך <strong>60 שניות</strong>.</p>
					<form action="{% url blacklist %}" method="post">
		              	{% csrf_token %}
	              		{{ form.domain }}
	              		{% if form.errors.domain %}
							<div class="alert alert-error">
								<a class="close" data-dismiss="alert">×</a>
								{{ form.domain.errors.0 }}
							</div>
			    		{% endif %}
			    		{% if domain %}
							<div class="alert alert-success">
								<a class="close" data-dismiss="alert">×</a>
								{{ domain }} נוסף לרשימת האתרים החסומים שלך
							</div>
						{% endif %}			    			
			    		
			    		<div>
			                <button type="submit" class="btn btn-success">חסום</button>
			            </div>
		            </form>
					<h3>הרשימה החסומה שלך</h3>
					{% for domain in bl_domains %}
						<p>{{ domain.display_string }} [<a href="{% url delete_blacklist domain.display_string %}">×</a>]</p>
					{% empty %}
						<p><em>לא נחסמו עדיין אתרים</em></p>
					{% endfor %}
				</div>

			</div>
	    </div>
	</div>
	{% endblock %}
	{% block footer_menu %}
		{% use_footer "templatetags/footer_menu.he.html" %}
	{% endblock %}