{% extends "roxy_base.html" %}
{% block title %}Setup Roxy | Windows Internet Explorer{% endblock %}
{% block content %}
    <!--MAIN CONTENT AREA-->
    <div class="container inner_content">
    	<div class="container-fluid">
			<div class="row-fluid">
				<div class="span9">
					<h1></a>Roxy Proxy Setup</h1>
					<h3>Linux Firefox</h3>
					<ol>
						
						<li>Bookmark the <a href="{% url change_session %}">Change Session Type</a> page for easy access to control your session type at any time.</li>
						<li>Print these instructions in case you need to access them offline.</li>
						<li>To <strong>disconnect</strong> from Roxy, go through the setup instructions, but instead of adding the proxy address ({{ user.profile.pac_url }}), <strong>remove it</strong>.</li>
					</ol>
				</div>
				<div class="span3">
					{% include "sidebar.html" %}
				</div>
			</div>
	    </div>
	</div>
{% endblock %}