{% extends "roxy_base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}Setup Roxy | Google Chrome on Windows{% endblock %}
{% block content %}
	{% if LANGUAGE_CODE == 'he' %}
		<!--MAIN CONTENT AREA-->
		<div class="container inner_content">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span9">
						<h1></a>הגדרת רוקסי פרוקסי</h1>
						<h3>גוגל כרום לחלונות</h3>
						<p>דפדפן כרום משתמש באותן הגדרות כמו אינטרנט  אקספלורר. כך שאם כבר עקבת אחרי <a href="{% url page "ie" %}">ההוראות להתקנת רוקסי באינטרנט אקספלורר</a> פשוט <a href="{% url proxy_test %}">לחץ כאן</a>על מנת לבדוק האם רוקסי פעילה</p> 
						<ol> 
							<li>פתח את כרום</li> 
							<li>בקצה הימני העליון של הדפדדפן הכנס ל תפריט ראשי> הגדרות (נפתח כלשונית נוספת)>הצג הגדרות מתקדמות> רשת &gt; שנה הגדרות שרת &gt; שנה הגדרות שרת  proxy נפתח חלון נוסף באנגלית. תחת  connection  &gt; LAN Settings &gt; בטל את הסימון ב "Automatically detect settings".סמן "Use Automatic configuration script" > הדפס : <br><strong>{{ user.profile.pac_url }}</strong></li> 
							<li>לחץ על אישור לשמירת  שינויים</li> 
							<li><a href="{% url proxy_test %}">לחץ כאן</a> על מנת לבדוק האם ההתקנה הושלמה</li> 
							<li>הוסף את <a href="{% url change_session %}">שנה מצב גלישה</a> למועדפים על מנת להקל על הגישה והשליטה שלך בסוגי הגלישה האפשריים ברוקסי</li>
						</ol>
						<h3>הגדר דפדפנים אחרים</h3>
						<p>אם אתה משתמש בדפדפן אחר כמו   <a href="{% url page "winff" %}">פיירפוקס</a> אתה צריך להגדיר את רוקסי גם  בו. לך ל <a href="{% url setup %}">הוראות התקנה</a>.
					</div>
					<div class="span3">
						{% include "sidebar.html" %}
					</div>
				</div>
		    </div>
		</div>
	{% else %}
		<!--MAIN CONTENT AREA-->
		<div class="container inner_content">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span9">
						<h1></a>Roxy Proxy Setup</h1>
						<h3>Google Chrome on Windows</h3>
						<p>The Chrome browser uses the same settings as Internet Explorer, so if you have already followed <a href="{% url page "ie" %}">the instructions to setup Roxy with Internet Explorer</a> just <a href="{% url proxy_test %}">Click here</a> to see if Roxy is active.</p> 
						<ol> 
							<li>Open Chrome.</li> 
							<li>On the top right of your browser, just below the red X, there is a button with three lines on it. Click this button &gt; Settings &gt; At the bottom, click "Show advanced settings" &gt; Under "Network choose "Change proxy settings" &gt; Choose the "Connections" tab &gt; LAN Settings &gt; Uncheck "Automatically detect settings". Check "Use Automatic configuration script" > Type in or paste: <br><strong>{{ user.profile.pac_url }}</strong></li> 
							<li>Choose OK twice to save the changes.</li> 
							<li><a href="{% url proxy_test %}">Click here</a> to test if the setup is complete.</li> 
							<li>Bookmark the <a href="{% url change_session %}">Change Session Type</a> page for easy access to control your session type at any time.</li>
						</ol>
						<h3>Setup Other Browsers</h3>
						<p>If you use another web browser such as <a href="{% url page "winff" %}">Firefox</a> you need to setup Roxy to work with that browser as well. Go back to <a href="{% url setup %}">setup instructions</a>.
					</div>
					<div class="span3">
						{% include "sidebar.html" %}
					</div>
				</div>
		    </div>
		</div>
	{% endif %}
{% endblock %}