{% extends "roxy_base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}Setup Roxy | Windows Firefox{% endblock %}
{% block content %}
	{% if LANGUAGE_CODE == 'he' %}
		<!--MAIN CONTENT AREA-->
		<div class="container inner_content">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span9">
						<h1></a>הגדרת רוקסי פרוקסי</h1>
						<h3>פיירפוקס לחלונות</h3>
						<ol> 
							<li>פתח את פיירפוקס</li> 
							<li>בתפריט הראשי בראש החלון לך ל: אפשרויות>אפשרויות >מתקדם> רשת> הגדרות > URL לתצורה  אוטומטית של שרת מתווך. העתק והדבק או הקלד <br/><span class="type">{{ user.profile.pac_url }}<br/><br/><img src="/static/img/ffsetuphe.jpg"/></span></li> 
							<li>בחר אישור לשמירת השינויים וצא מחלון ההגדרות</li>
							<li><a href={% url proxy_test %}>לחץ כאן</a> על מנת לבדוק האם ההתקנה הושלמה  </li>
							<li>הוסף את <a href="{% url change_session %}">שנה סוג גלישה</a> למועדפים על מנת להקל על הגישה והשליטה שלך בסוגי הגלישה האפשריים ברוקסי</li>   
						</ol>
						<h3>הגדר דפדפנים אחרים</h3>
						<p>אם אתה משתמש בדפדפן אחר כמו   <a href="{% url page "ie" %}">אינטרנט אקספלורר</a> אתה צריך להגדיר את רוקסי גם  בו. לך ל<a href="{% url setup %}">הוראות התקנה</a>.
						<h3>בעיות נפוצות</h3>
						<p>הבעיה הנפוצה ביותר היא טעות הקלדה בקישור של רוקסי. נסה לסמן את כתובת הפרוקסי הזו: <span class="type">{{ user.profile.pac_url }}</span>ללחוץ על control+c על מנת להעתיק אותה, ואז לעבור להגדרות LAN וללחוץ control+v על מנת להדביק אותה.  </p>	
					</div>
					<div class="span3">
						{% include "sidebar.html" %}
					</div>
				</div>
		    </div>
		</div>
	{% else %}
		<!--MAIN CONTENT AREA-->
		<div class="container inner_content">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span9">
						<h1></a>Roxy Proxy Setup</h1>
						<h3>Windows Firefox</h3>
						<ol> 
							<li>Open Firefox.</li> 
							<li>On the main menu at the top of Firefox go to: Tools > Options > At the top of the options window there is an Advanced tab > Network tab > Settings > Automatic proxy configuration URL. Copy and paste or type: <br><strong>{{ user.profile.pac_url }}</strong><br/><br/><img src="/static/img/ffsetup.jpg"/></li></li> 
							<li>Choose OK to save the changes and exit the options window.</li>
							<li><a href="{% url proxy_test %}">Click here</a> to check if the setup is complete.</li>
							<li>Bookmark the <a href="{% url change_session %}">Change Session Type</a> page for easy access to control your session type at any time.</li>   
						</ol>
						<h3>Setup Other Browsers</h3>
						<p>If you use another web browser such as <a href="{% url page "ie" %}">Internet Explorer</a> you need to setup Roxy to work with that browser as well. Go back to <a href="{% url setup %}">setup instructions</a>.
						<h3>Troubleshooting</h3>
						<p>The most common setup mistake is a mistyped pac file url. Try highlighting the proxy address, <span class="type">{{ user.profile.pac_url }}</span>, pressing control+c to copy it and when in the LAN Settings press control+v to paste it instead of typing it.</p>	
					</div>
					<div class="span3">
						{% include "sidebar.html" %}
					</div>
				</div>
		    </div>
		</div>
	{% endif %}
{% endblock %}