{% load i18n %}{% get_current_language as LANGUAGE_CODE %}{% if LANGUAGE_CODE == 'he' %}שלום {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

קבלת את ההודעה הזו מכיוון שבקשת שסיסמתך לאתר %(domain)s תאותחל. אם אינך רוצה לאתחל את סיסמתך, אנא התעלם מהודעה זו

על מנת לאתחל את סיסמתך אנא לחץ על הקישור למטה או העתק והדבק אותו לדפדפן שלך

{{ protocol }}://{{ domain }}{% url auth_password_reset_confirm uid token %}

למקרה ששכחת שם המשתמש שלך הוא {{ user.username }}


בברכה
צוות פיתוח התוכנה של רוקסי

{% else %}Greetings {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

You are receiving this email because you requested that your password be reset on the {{ domain }} site.  If you do not wish to reset your password, please ignore this message.

To reset your password, please click the following link, or copy and paste it into your web browser:

{{ protocol }}://{{ domain }}{% url auth_password_reset_confirm uid token %}

Your username, in case you've forgotten is: {{ user.username }}


Best regards,
Roxy Development Team

{% endif %}