{% extends "registration/registration_base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% if LANGUAGE_CODE == 'he' %}איפוס סיסמא | רוקסי פרוקסי{% else %}Reset password | Roxy Proxy{% endif %}{% endblock %}

{% block content %}

<div class="container inner_content">
	<div class="row-fluid">
		{% if LANGUAGE_CODE == 'he' %}
			<div class="span6">
שכחת את סיסמתך? אנא הכנס את כתובת הדואר האלקטרוני שלך בטופס ואנו נשלח לך הוראות ליצירת סיסמא חדשה  
			</div>
			<div class="span6">
				<form method='post' action='' class="well">
					{% csrf_token %}
					<label>{{ form.email.label_tag }}</label>
					{{ form.email }}

					<div>
						<button type="submit" class="btn">שחזור סיסמא</button>
					</div>
				</form>
			</div>
		{% else %}
			<div class="span6">
				Forgot your password?  Enter your email in the form and we'll send you instructions for creating a new one.
			</div>
			<div class="span6">
				<form method='post' action='' class="well">
					{% csrf_token %}
					<label>{{ form.email.label_tag }}</label>
					{{ form.email }}

					<div>
						<button type="submit" class="btn">Reset Password</button>
					</div>
				</form>
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}
