{% extends "registration/registration_base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% if LANGUAGE_CODE == 'he' %}אתחול סיסמא | רוקסי פרוקסי{% else %}Password reset | Roxy Proxy{% endif %}{% endblock %}
{% block content %}

<div class="container inner_content">
	<div class="row-fluid">
		<div class="span12">
			{% if LANGUAGE_CODE == 'he' %}
				<p>הודעת דואר אלקטרוני עם קישור לאתחול סיסמתך נשלחה לכתובתך. אנא בדוק את תיבת הדואר האלקטרוני שלך ולחץ על הקישור בהודעה שהתקבלה על מנת להמשיך בתהליך.</p>
				<button class="btn"><a href="{% url home %}">Home</a></button>
			{% else %}
				<p>We have sent you an email with a link to reset your password.  Please check your email and click the link to continue.</p>
				<button class="btn"><a href="{% url home %}">Home</a></button>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
