{% extends "registration/registration_base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% if LANGUAGE_CODE == 'he' %}שליחת הודעת הפעלה | רוקסי פרוקסי{% else %}Activation email sent | Roxy Proxy{% endif %}{% endblock %}
{% block content %}

<div class="container inner_content">
	<div class="row-fluid">
		<div class="span12">
			{% if LANGUAGE_CODE == 'he' %}
				<p>הודעת דואר אלקטרוני המאשרת את תהליך הרשום נשלחה לכתובתך. אנא בדוק את תיבת הדואר האלקטרוני שלך ולחץ על הקישור בהודעה שהתקבלה.  </p>
				<button class="btn"><a href="{% url home %}">Home</a></button>
			{% else %}
				<p>An activation email has been sent.  Please check your email and click on the link to activate your account.</p>
				<button class="btn"><a href="{% url home %}">Home</a></button>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}