{% extends "roxy_base.html" %}
{% block title %}Setup Roxy | Other{% endblock %}
{% block content %}
    <!--MAIN CONTENT AREA-->
    <div class="container inner_content">
    	<div class="container-fluid">
			<div class="row-fluid">
				<div class="span9">
					<h1></a>Roxy Blacklist</h1>
					<p>Adding a website to your blacklist will prevent future logging of this site, and will prompt Roxy to delete any previous content from this site from your records within 24 hours.</p>
						<p>Enter a domain into the form below. A domain is simply the part of the website before .com, .org, .net etc. The domain of the url http://www.chase.com/home.php is simply chase.com. This will blacklist all content from chase.com.</p>
						<p>
							<form class="form" id="ajax-contact-form" action="" method="post">
				              	{% csrf_token %}
				                    <input type="text" name="sender" class="span6" placeholder="chase.com" value="{% if form.sender.value %}{{ form.sender.value }}{% endif %}" />
									{% for error in form.sender.errors %}
										<div class="control-group error">
											<span class="help-inline">{{ error }}</span>
										</div>
						    		{% endfor %}
				                    
				                <button type="submit" class="btn btn-success">Submit</button>
						</p>
						<h3>Blacklisted sites</h3>
						<p>anything.chase.com/anything</p>
				</div>
				<div class="span3">
					{% include "sidebar.html" %}
				</div>
			</div>
	    </div>
	</div>
{% endblock %}