{% extends "roxy_base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}Setup Roxy | Windows Internet Explorer{% endblock %}
{% block content %}
	{% if LANGUAGE_CODE == 'he' %}
		<!--MAIN CONTENT AREA-->
		<div class="container inner_content">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span9">
						<h1></a>הגדרת רוקסי פרוקסי</h1>
						<h3>אינטרנט אקספלורר</h3>
						<ol> 
							<li>פתח את הדפדפן</li> 
							<li>בתפריט הראשי בראש החלון לך ל: אפשרויות אינטרנט>חיבורים>הגדרות LAN<br/><br/><img src="/static/img/IEConnections.gif"/></li> 
							<li>לחץ על השתמש ב script לקביעת תצורה אוטומטית והקלד  : <br><strong>{{ user.profile.pac_url }}</strong><br> בטל את הסימון ב"אתר הגדרות באופן אוטומטי"  <br/><br/><img src="/static/img/IELanSettings.gif"/></li> 
							<li>סמן אישור ושמור הגדרות</li> 
							<li><a href="{% url proxy_test %}">לחץ כאן</a> על מנת לבדוק האם ההתקנה הושלמה </li> 
							<li>הוסף את <a href="{% url change_session %}">שנה מצב גלישה</a> למועדפים על מנת להקל על הגישה והשליטה שלך בסוגי הגלישה האפשריים ברוקסי</li>	
							<li>הדפס את ההוראות הללו למקרה שתצטרך להתחבר  בלי גישה לאינטרנט</li>
							<li>על מנת <strong>להתנתק</strong> מרוקסי, עקוב אחרי צעדי ההתקנה, אך במקום  להוסיף  את הכתובת של רוקסי,({{ user.profile.pac_url }}), <strong>הסר אותה</strong>.</li>
						</ol>
						<p>לאחר ההתקנה יכולה להופיע הודעה בדפדפן שאומרת "הגדרות אינטרנט מכובות כעת. הגדרות האינטרנט פחות בטוחות. לחץ על אפשרויות… רוקסי לא  פוגעת באבטחת המחשב שלך.  בחר "אל תציג הודעה זו שוב. </p> 
						<h3>הגדר דפדפנים אחרין</h3>
						<p>אם אתה משתמש בדפדפן אחר כמו <a href="{% url page "winff" %}">פיירפוקס</a> אתה צריך להגדיר את רוקסי גם  בו. לך ל<a href="{% url setup %}">הוראות התקנה</a>.
					</div>
					<div class="span3">
						{% include "sidebar.html" %}
					</div>
				</div>
		    </div>
		</div>
	{% elif LANGUAGE_CODE == 'nl' %}
			<!--MAIN CONTENT AREA-->
			<div class="container inner_content">
				<div class="container-fluid">
					<div class="row-fluid">
						<div class="span9">
							<h1></a>Roxy Proxy Setup</h1>
							<h3>Windows Internet Explorer</h3>
							<ol> 
								<li>Open Internet Explorer.</li> 
								<li>In het hoofdmenu bovenin het venster, ga naar: Extra> Internet Opties > Verbindingen tab > LAN Instellingen <br/><br/><img src="/static/img/dutchIE1"/></li> 
								<li>Vink "Automatisch configuratiescript gebruiken" aan en type in (kopieër en plak de volgende link): <br><strong>{{ user.profile.pac_url }}</strong><br>Dan, vink de optie "Instellingen automatisch detecteren" uit.<br/><br/><img src="/static/img/dutchIE2.jpg"/></li> 
								<li>Klik op OK om de instellingen op te slaan.</li> 
								<li><a href="{% url proxy_test %}">Klik hier</a> om te testen of de set-up compleet is.</li> 
								<li>Voeg de  <a href="{% url change_session %}">Verander Sessie Type</a> pagina toe als bladwijzer om makkelijk tussen sessie types te schakelen.</li>	
								<li>Print deze instructies uit voor het geval dat u deze offline in wilt zien.</li>
								<li>Om het gebruik van Roxy te <strong>verbreken</strong>, ga terug naar de setup instructies, maar in plaats van het toevoegen van het proxy adres ({{ user.profile.pac_url }}), <strong>verwijder deze</strong>.</li>
							</ol>
							<p>Een bericht kan verschijnen in de browser, “Intranet instellingen zijn nu uitgeschakeld. Intranet instellingen zijn minder betrouwbaar dan Internet instellingen. Klik hier voor opties...”. Roxy beinvloed uw computer’s veiligheid niet. Dit bericht kan daarom zonder risico worden genegeerd. Kies voor de optie “Laat dit bericht niet meer zien”.</p> 
							<h3>SETUP VOOR ANDERE BROWSERS</h3>
							<p>Wanneer u nog een andere browser gebruikt zoals <a href="{% url page "winff" %}">Firefox</a> dient u de <a href="{% url setup %}">setup</a> van Roxy te herhalen om de applicatie in de andere browser te installeren (kies hier wel voor de instructies specifiek voor Firefox, hetzelfde geldt voor installatie van Roxy op een ander apparaat zoals een Apple iPad etc.). 
						</div>
						<div class="span3">
							{% include "sidebar.html" %}
						</div>
					</div>
			    </div>
			</div>
	{% else %}
		<!--MAIN CONTENT AREA-->
		<div class="container inner_content">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span9">
						<h1></a>Roxy Proxy Setup</h1>
						<h3>Windows Internet Explorer</h3>
						<ol> 
							<li>Open Internet Explorer.</li> 
							<li>On the main menu at the top of the window go to: Tools > Internet Options > Connections tab > LAN Settings<br/><br/><img src="/static/img/IEConnections.gif"/></li> 
							<li>Check "Use automatic configuration script" and type in: <br><strong>{{ user.profile.pac_url }}</strong><br>Then uncheck the item that says "Automatically detect settings"<br/><br/><img src="/static/img/IELanSettings.gif"/></li> 
							<li>Choose OK to save the settings.</li> 
							<li><a href="{% url proxy_test %}">Click here</a> to test if the setup is complete.</li> 
							<li>Bookmark the <a href="{% url change_session %}">Change Session Type</a> page for easy access to control your session type at any time.</li>	
							<li>Print these instructions in case you need to access them offline.</li>
							<li>To <strong>disconnect</strong> from Roxy, go through the setup instructions, but instead of adding the proxy address ({{ user.profile.pac_url }}), <strong>remove it</strong>.</li>
						</ol>
						<p>A message may appear on Internet Explorer that says, "Intranet settings are now turned off by default. Intranet settings are less secure than Internet settings. Click for options..." Roxy does not compromise your computer's security. This message can safely be ignored. Choose the option "Don’t show this message again"</p> 
						<h3>Setup Other Browsers</h3>
						<p>If you use another web browser such as <a href="{% url page "winff" %}">Firefox</a> you need to setup Roxy to work with that browser as well. Go back to <a href="{% url setup %}">setup instructions</a>.
					</div>
					<div class="span3">
						{% include "sidebar.html" %}
					</div>
				</div>
		    </div>
		</div>
	{% endif %}
{% endblock %}