{% extends "roxy_base.rtl.html" %}
{% load website_tags %}
{% block title %}Setup Roxy | Macintosh Firefox{% endblock %}
{% block header_menu %}
	{% use_header "templatetags/header_menu.he.html" %}
{% endblock %}
{% block content %}
    <!--MAIN CONTENT AREA-->
    <div class="container inner_content">
    	<div class="container-fluid">
			<div class="row-fluid">
				<div class="span9">
					<div class="span3">
						{% include "sidebar.he.html" %}
					</div>
					<h1></a>הגדרות רוקסי פרוקסי</h1>
					<h3></a>פיירפוקס למקינטוש</h3>
					<p>ראשית בצע את ההגדרות הכלליות של <a href="{% url page "mac" %}">התקנה למקינטוש</a>. אם לא נתקלת בבעיות אין צורך בהמשך התקנה</p>
					<ol>
						<li>פתח את פיירפוקס</li> 
						<li>בתפריט בקצה השמאלי העליון לך ללפרייפוקס>העדפות>מתקדם>רשת. שם תחת קישוריות בחרו בכפתור הגדרות<br/><br/><img src="/static/img/FirefoxDiagram.gif" width="450" /> </li> 
						<li> בחר באפשרות האחרונה "URL  לתצורה אוטומטית של  שרת מתווך" והכניסו את הקישור http://roxy-master.audacious-software.com/proxy/logging-proxy.pac</li> 
						<li>לחץ על אישור לשמירת השינוי. צא מהעדפות של פיירפוקס</li> 
						<li><a href="#">לחץ כאן</a> על מנת לבדוק עם ההתקנה הושלמה</li>
						<li>הוסף את <a href="{% url change_session %}">שנה סוג גלישה</a>למועדפים על מנת להקל על הגישה והשליטה שלך בסוגי הגלישה האפשריים ברוקסי</li>
					</ol>
					<p>לך ל <a href={% url setup %}>הוראות התקנה</a> לדפדפנים אחרים</p>
				</div>

			</div>
	    </div>
	</div>
{% endblock %}
{% block footer_menu %}
	{% use_footer "templatetags/footer_menu.he.html" %}
{% endblock %}