{% extends "roxy_base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}Setup Roxy | Beta Testing{% endblock %}
{% block content %}
		<!--MAIN CONTENT AREA-->
		<div class="container inner_content">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span9">
						<h1></a>Roxy Proxy Setup</h1>
<p>Thank you for beta testing Roxy! You may find it useful to have Roxy active in one browser but not another so that you can test to see if Roxy is causing an issue you are experiencing online or not, and so that you can browse Roxy-free without changing your system proxy settings or changing your session type. The instructions below show you how. </p>
						<h3>Advanced Beta Testing</h3>
Do you mainly brows the web with FireFox (FF) or another browser? If FF, follow FF main instructions, if non-FF, go to FF secondary instructions.

<h3>FF Main</h3>
<p>If FF is your main browser, you can set only FF to use the proxy, and when you encounter an issue you think might be caused by the proxy, try another browser.</p>

<ol>
<li> Remove the proxy setting from your computer.</li>
<li> In Mac: Open FF, go the the FireFox menu > Preferences > Advanced Tab > Network Tab > "Settings" button > Choose the very last option, "Automatic proxy configuration URL" and put the Roxy PAC url in:
<br>http://roxy.roxyproxy.org/proxy/logging-proxy.pac<br> > Choose OK > Close the preferences window. 
<br/><br/>In Windows: Open Firefox.On the main menu at the top of Firefox go to: Tools > Options > At the top of the options window there is an Advanced tab > Network tab > Settings > Choose Automatic proxy configuration URL. Copy and paste or type: <br>http://roxy.roxyproxy.org/proxy/logging-proxy.pac<br>
Choose OK to save the changes and exit the options window.</li>
<li>Make sure Roxy is working in FF: <a href="{% url proxy_test %}">Test</a> </li>
</ol>

<h3>FF Secondary</h3>
<p>If FF is your secondary browser, you can set your other browsers to use Roxy, but have FF not use Roxy.</p>

<ol>
<li>Make sure Roxy is working in your main web browser: <a href="{% url proxy_test %}">Test</a> </li>
<li> In Mac: Open FF, go the the FireFox menu > Preferences > Advanced Tab > Network Tab > "Settings" button > Choose "No Proxy" > Choose OK > Close the preferences window. 
<br/><br/>In Windows: Open Firefox.On the main menu at the top of Firefox go to: Tools > Options > At the top of the options window there is an Advanced tab > Network tab > Settings > Choose "No Proxy"
Choose OK to save the changes and exit the options window.</li> 
<li>You can test to see that Roxy is not active in FF: <a href="{% url proxy_test %}">Test</a> </li>
</li>
</ol>
				
						
					</div>
					<div class="span3">
						{% include "sidebar.html" %}
					</div>
				</div>
		    </div>
		</div>
{% endblock %}