{% load i18n %}
<div class="container">
    <div class="row">
        <div class="span3">
            <img src="/static/img/roxy-logo-w.png" alt="logo" style="height: 60px;margin-bottom:7px; margin-top:7px;" />
        <hr class="visible-phone">
        </div>
        <div class="span3">
            <h5>{% blocktrans %}<span class="colored">///</span> Roxy {% endblocktrans %}</h5>
            <p>{% blocktrans %}Roxy is designed to enable observational web research with fully informed consent.{% endblocktrans %}</p>
            <hr class="visible-phone">
        </div>
        <div class="span3 flickr">
            <h5><span class="colored">{% blocktrans %}///</span> Contact info{% endblocktrans %}</h5>
            <span><strong class="colored">{% blocktrans %} Email:{% endblocktrans %}</strong> emtrevino@gmail.com</span>
            <hr class=" hidden-phone"><br class="visible-phone">
            <span><strong class="colored">{% blocktrans %} {% endblocktrans %}</strong> </span>
            <hr class="visible-phone">
        </div>
        <div class="span3 soc_icons">
        </div>
    </div>
</div>
