{% load i18n %}
<div class="span8">
	<nav id="main-nav">
		<ul id="menu">
			<!--<li class="current"><a href="{% url home %}">Home</a></li>-->
				<li><a href="{% url home %}">{% blocktrans %}Project Home{% endblocktrans %}</a></li>
			    <li><a href="{% url about %}">{% blocktrans %}About{% endblocktrans %}</a></li>
				<li><a href="{% url faq %}">{% blocktrans %}FAQ{% endblocktrans %}</a></li>
		    <!--<li><a href="{% url contact %}">Contact</a></li>-->
		    {% if request.user.is_authenticated %}
			    <li><a href="{% url user_home %}">{% blocktrans %}My Home{% endblocktrans %}</a></li>
			    <li><a href="{% url auth_logout %}">{% blocktrans %}Logout{% endblocktrans %}</a></li>
		    {% else %}
			    <li><a href="{% url registration_register %}">{% blocktrans %}Register{% endblocktrans %}</a></li>
			    <li><a href="{% url auth_login %}">{% blocktrans %}Login{% endblocktrans %}</a></li>
			{% endif %}
		</ul>
	</nav><!-- end #main-nav -->
</div>
