{% extends "roxy_base.html" %}
{% load i18n %}
{% block title %}{% blocktrans %}About Roxy | Roxy Proxy{% endblocktrans %}{% endblock %}
{% block content %}
    <!--MAIN CONTENT AREA-->
    <div class="container inner_content">
    	<div class="container-fluid">
			<div class="row-fluid">
				<div class="span9">
					{% blocktrans %}<h1>Roxy: Enabling observational web research</h1>

					<h2>About Roxy</h2>
					<p>Roxy was created so that researchers who want to understand real-world web use could have a data-gathering tool that fully respects the privacy of research participants and provides a fully informed consent	process. With Roxy, research participants have full control over their data, determining what will be captured and, after it is captured,	what data will be retained. Roxy is extremely easy to use. After the brief setup process, interacting with Roxy involves just one click to indicate privacy settings at an interval of the research participant's choice.</p>

					<h2>Roxy Technology</h2>
					<p>Roxy can gather more data from more devices than other data collection systems. Roxy is a proxy server. It is more like the code that runs Facebook than it is like a program on your computer like Microsoft Word. Because it does not need to be installed on participants' computers it can work with any operating system, Windows, Mac, Linux, and mobile or tablet operating systems (most mobile networks do not allow proxies, however). Users simply configure their web browser to connect to Roxy. Roxy can collect the content of the web pages as they are retrieved by participants. This is particularly important in the ever-changing web environment.</p>
					
					<p>Roxy began as a tool to collect data for <A href="http://www.ericka.cc/">Ericka Menchen-Trevino's</a> dissertation, with development by <a href="http://www.audacious-software.com">Audacious Software</a>. Roxy was named as a blend of the words research and proxy.</p>{% endblocktrans %}
				</div>
				<div class="span3">
					{% include "sidebar.html" %}
				</div>
			</div>
	    </div>
	</div>
{% endblock %}