{% extends "roxy_base.html" %}
{% load i18n %}
{% block title %}Contact Us | Roxy Proxy{% endblock %}
{% block content %}
	{% if LANGUAGE_CODE == 'he' %}
	    <div class="gray_bg">
    	    <div class="container">
        	    <div class="row welcome_inner">
            	    <div class="span12">
                	    <h1><span class="colored">///</span> צור קשר</h1>
	                </div>
    	        </div>
        	</div>
	    </div>
    	<!--/WELCOME AREA-->
	    <!--MAIN CONTENT AREA-->
    	<div class="container inner_content">
    		<section>
    			<div class="row">
            		<div class="span4">
                		<div class="well">
						<h4><span class="colored">///</span> פירטי התקשרות</h4>
    	                <p>רוקסי פיתוח תוכנה</p>
        	        	<hr>
            	        <span><strong class="colored">כתובת</strong> 300 N. State St., Chicago, IL</span>
                	    <br>
                    	<span><strong class="colored">טלפון</strong> 773.454.6878</span>
	                    <br>
    	                <span><strong class="colored">אתר</strong> <a href="http://www.roxyproxy.org">roxyproxy.org</a></span>
        	            <br>
            	        <span><strong class="colored">אימייל</strong> &#101;&#114;&#105;&#099;&#107;&#097;&#064;&#114;&#111;&#120;&#121;&#112;&#114;&#111;&#120;&#121;&#046;&#111;&#114;&#103;</span>
	                	</div>
    	            </div>
        	        <div class="span8">
            	        <h3><span class="colored">///</span> נשמח לשמוע ממך</h3>
                	    <div id="note"></div>
                    	<form class="form" id="ajax-contact-form" action="" method="post">
                      		{% csrf_token %}
   	                        	<input type="text" name="sender" class="span6" placeholder="שם" value="{% if form.sender.value %}{{ form.sender.value }}{% endif %}" />
								{% for error in form.sender.errors %}
									<div class="control-group error">
										<span class="help-inline">{{ error }}</span>
  	    							</div>
        			    		{% endfor %}
       	            	        <input type="text" name="email" class="span6" placeholder="כתובת הדואר האלקטרוני שלך" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" />
								{% for error in form.email.errors %}
									<div class="control-group error">
										<span class="help-inline">{{ error }}</span>
   	    							</div>
        			    		{% endfor %}
                    	    <textarea type="text" name="message" placeholder="אנא כתוב לנו באיזו גרסה של מערכת הפעלה את מתשמש, מה הדפדפן שלך, מה שם המתשמש שלך ברוקסי ואת השעה בה קרתה התקלה" rows="8" class="span8">{% if form.message.value %}{{ form.message.value }}{% endif %}</textarea>
							{% for error in form.message.errors %}
								<div class="control-group error">
									<span class="help-inline">{{ error }}</span>
	    						</div>
    	   		    		{% endfor %}
        	                <button type="submit" class="btn btn-success">שלח הודעה</button>
						</form>
                	</div>
	        	</div>
    		</section>
	    </div>
	{% else %}
		<div class="gray_bg">
		    <div class="container">
	    		<div class="row welcome_inner">
		    	    <div class="span12">
        			    <h1><span class="colored">///</span> Contact Us</h1>
		            </div>
        		</div>
			</div>
		</div>
		<!--/WELCOME AREA-->
		<!--MAIN CONTENT AREA-->
		<div class="container inner_content">
			<section>
				<div class="row">
		    		<div class="span4">
        				<div class="well">
							<h4><span class="colored">///</span> Contact information</h4>
			                <p>Roxy Development</p>
	    			    	<hr>
    	        			<span><strong class="colored"> Address:</strong> 300 N. State St., Chicago, IL</span>
		        	    	<br>
	        		    	<span><strong class="colored">Phone:</strong> 773.454.6878</span>
                			<br>
		            	    <span><strong class="colored">Website:</strong> <a href="http://www.roxyproxy.org">roxyproxy.org</a></span>
	    			        <br>
    	    	    		<span><strong class="colored">Email:</strong> &#101;&#114;&#105;&#099;&#107;&#097;&#064;&#114;&#111;&#120;&#121;&#112;&#114;&#111;&#120;&#121;&#046;&#111;&#114;&#103;</span>
			           	</div>
    		        </div>
	        		<div class="span8">
		    	        <h3><span class="colored">///</span> Feel free to contact us</h3>
        			    <div id="note"></div>
            			<form class="form" id="ajax-contact-form" action="" method="post">
		       	      		{% csrf_token %}
        	               	<input type="text" name="sender" class="span6" placeholder="Name" value="{% if form.sender.value %}{{ form.sender.value }}{% endif %}" />
							{% for error in form.sender.errors %}
								<div class="control-group error">
									<span class="help-inline">{{ error }}</span>
  								</div>
			   				{% endfor %}
	           	    		    <input type="text" name="email" class="span6" placeholder="E-mail address" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" />
							{% for error in form.email.errors %}
								<div class="control-group error">
									<span class="help-inline">{{ error }}</span>
   								</div>
				    		{% endfor %}
        		    	    <textarea type="text" name="message" placeholder="Message" rows="8" class="span8">{% if form.message.value %}{{ form.message.value }}{% endif %}</textarea>
							{% for error in form.message.errors %}
								<div class="control-group error">
									<span class="help-inline">{{ error }}</span>
								</div>
			  		    		{% endfor %}
	        		        <button type="submit" class="btn btn-success">Send Message</button>
						</form>
        			</div>
			   	</div>
			</section>
		</div>
	{% endif %}
{% endblock %}