{% extends "roxy_base.html" %}
{% block title %}Hourly &amp; Weekly Summary | Roxy Proxy{% endblock %}
{% block page_header %}
	{% if report %}
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="/static/highcharts/js/highcharts.js"></script>
		<script type="text/javascript">
			$(function ()
			{
				var hours = [];
				var requests = [];
				
				{% for hour in report_contents.hours %}
					hours.push("{{ hour.hour }}");
					requests.push({{ hour.count }});
				{% endfor %}

				var weeks = [];
				var week_requests = [];
				
				{% for week in report_contents.weeks %}
					weeks.push("{{ week.week }}");
					week_requests.push({{ week.count }});
				{% endfor %}
				
			    var chart;
				var week_chart;
				
			    $(document).ready(function() 
			    {
		    	    chart = new Highcharts.Chart({
        		    	"chart": {
    	            		"renderTo": 'container',
			                "type": 'column'
	        	    	},
    		    	    "title": {
            		    	"text": 'Daily Hourly Summary'
			            },
			            "subtitle": {
		    	            "text": 'Dates: {{ start }} to {{ end }}'
        			    },
		            	"xAxis": {
    	    		        "categories": hours,
	                		"title": {
		    	                "text": null
        			        }
			            },
    	    		    "yAxis": {
        			        "title": {
		                	    "text": 'Requests',
        		            	"align": 'high'
			                }
    	    		    },
			            "plotOptions": {
        			        "bar": {
		                	    "dataLabels": {
			                        "enabled": true
    	    		            }
        	        		}
		    	        },
		        	    "legend": {
	        		        "align": 'right',
    	            		"verticalAlign": 'top',
			                "x": -100,
        			        "y": 100,
                			"floating": true,
		            	    "borderWidth": 1,
        		        	"backgroundColor": '#FFFFFF',
	                		"shadow": true
			            },
        			    "credits": {
		        	        "enabled": false
        		    	},
			            "series": [{
				                "name": 'Requests',
                				"data": requests
				        }]
			        });
			        
		    	    week_chart = new Highcharts.Chart({
        		    	"chart": {
    	            		"renderTo": 'container_week',
			                "type": 'column'
	        	    	},
    		    	    "title": {
            		    	"text": 'Daily Weekday Summary'
			            },
			            "subtitle": {
		    	            "text": 'Dates: {{ start }} to {{ end }}'
        			    },
		            	"xAxis": {
    	    		        "categories": ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
	                		"title": {
		    	                "text": null
        			        }
			            },
    	    		    "yAxis": {
        			        "title": {
		                	    "text": 'Requests',
        		            	"align": 'high'
			                }
    	    		    },
			            "plotOptions": {
        			        "bar": {
		                	    "dataLabels": {
			                        "enabled": true
    	    		            }
        	        		}
		    	        },
		        	    "legend": {
	        		        "align": 'right',
    	            		"verticalAlign": 'top',
			                "x": -100,
        			        "y": 100,
                			"floating": true,
		            	    "borderWidth": 1,
        		        	"backgroundColor": '#FFFFFF',
	                		"shadow": true
			            },
        			    "credits": {
		        	        "enabled": false
        		    	},
			            "series": [{
				                "name": 'Requests',
                				"data": week_requests
				        }]
			        });
			    });
			});
		</script>
	{% endif %}
{% endblock %}

{% block content %}
    <!--MAIN CONTENT AREA-->
    <div class="container inner_content">
    	<div class="container-fluid">
			<div class="row-fluid">
				<div class="span9">
					<h1><a name="home"></a>Hourly Summary</h1>
					<p>Latest report covering {{ start }} to {{ end }}.</p>
					{% if report %}
						<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
					{% else %}
						<p>Unable to find report for the specified date.</p>
					{% endif %}

					<h1><a name="home"></a>Weekday Summary</h1>
					<p>Latest report covering {{ start }} to {{ end }}.</p>
					{% if report %}
						<div id="container_week" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
					{% else %}
						<p>Unable to find report for the specified date.</p>
					{% endif %}

				</div>
				<div class="span3">
					{% include "sidebar.html" %}
				</div>
			</div>
	    </div>
	</div>
{% endblock %}