{% extends "roxy_base.html" %}
{% block title %}Daily Summary | Roxy Proxy{% endblock %}
{% block page_header %}
	{% if report %}
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="/static/highcharts/js/highcharts.js"></script>
		<script type="text/javascript">
			function parseDate(input) 
			{
				var parts = input.match(/(\d+)/g);
				// new Date(year, month [, date [, hours[, minutes[, seconds[, ms]]]]])
				return Date.UTC(parts[0], parts[1]-1, parts[2]); // months are 0-based
			}

			$(function ()
			{
				var dates = [];
				var requests = [];
				
				{% for date in report_contents.dates %}
					dates.push(parseDate("{{ date.date }}"));
					requests.push([parseDate("{{ date.date }}"), {{ date.count }}]);
				{% endfor %}

			    var chart;
				
			    $(document).ready(function() 
			    {
		    	    chart = new Highcharts.Chart({
        		    	chart: {
    	            		renderTo: 'container',
			                type: 'spline'
	        	    	},
    		    	    title: {
            		    	text: 'Daily Summary'
			            },
			            subtitle: {
		    	            text: 'Dates: {{ start }} to {{ end }}'
        			    },
		            	xAxis: {
    	    		        type: 'datetime',
							dateTimeLabelFormats: {			
								month: '%e. %b',
								year: '%b'
							}
						},
    	    		    yAxis: {
        			        title: {
		                	    text: 'Requests',
			                }
    	    		    },
        			    credits: {
		        	        enabled: false
        		    	},
			            series: [{
				                name: 'Requests',
                				data: requests
				        }]
			        });
			    });
			});
		</script>
	{% endif %}
{% endblock %}

{% block content %}
    <!--MAIN CONTENT AREA-->
    <div class="container inner_content">
    	<div class="container-fluid">
			<div class="row-fluid">
				<div class="span9">
					<h1><a name="home"></a>Daily Summary</h1>
					<p>Latest report covering {{ start }} to {{ end }}.</p>
					{% if report %}
						<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
					{% else %}
						<p>Unable to find report for the specified date.</p>
					{% endif %}
				</div>
				<div class="span3">
					{% include "sidebar.html" %}
				</div>
			</div>
	    </div>
	</div>
{% endblock %}